.loading-screen{
  position: fixed;
  height: 100vh;
  width: 100vw;
  
  z-index: 1000;
  transition: 1s ease;

  pointer-events: all;

  background-color:white;

  display:flex;
  justify-content: center;
  align-items: center;
}

.loading-screen.active{
  opacity: 0;
  pointer-events: none;
}

.loading-screen h1{
  position: absolute;
  font-size: 200px;
  font-family: "Instrument Serif";
  font-style: italic;
  font-weight:normal;

  mix-blend-mode: difference;
  filter: invert(1);
}

.loading-screen img{
  height: 30%;
}


.landing {
  color: #000;
  text-align: center;
  font-family: "Instrument Serif";
  font-size: 26px;
  font-style: italic;
  font-weight: 400;
  line-height: 25px; /* 96.154% */
}

.gallery-container {
  position: fixed;
  z-index: 1; /* Ensure the gallery stays above the background */
  margin-top: 40px; /* Spacing between gallery and timeline */
}

.additional-photos {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Inter";
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  width: 300px;
  border: none;
  background: none;
  text-align: center;
  margin: 0;
}

.unwrapped:hover {
  background-color: aliceblue;
}

.romp {
  margin: 4%;
}

.second {
  display: flex;
  justify-content: center;
  align-items: center;
}

.unwrapped {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Inter";
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  width: 400;
  border: none;
  background: white;
  border: 0.015em solid#2C85CE;
  padding: 10% 13%;
  border-radius: 20px;
  color: #2c85ce;
  text-align: center;
  margin: 0;
  z-index: 200;
  box-shadow: 0px 0px 10px 2px #b0dbfe;
}

.bottom {
  position: fixed;
  bottom: 5rem;
  right: 10rem;
  text-wrap: nowrap;
}
